:root {
    --primary-background: #6FDA44;
    --secondary-background: #E2F5DB;
    --dark-background: #030C07;
    --gray500: #E5E5EA;
    --gray100: #5E5E63;
    --errorColor: #FE3F60;
    --darkstroke: #2C2C2E;
    --darkbg: #1A1A1A;
}

/* Body Common Styles */
html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
}

.text-base {
    font-size: var(--bs-body-font-size);
}

.text-primary {
    color: var(--primary-background) !important;
}

.text-gray {
    color: var(--gray100);
}

.btn-primary {
    --bs-btn-bg: var(--primary-background);
    --bs-btn-color: var(--dark-background);
    --bs-btn-border-color: var(--primary-background);
    --bs-btn-hover-bg: var(--dark-background);
    --bs-btn-hover-border-color: var(--dark-background);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-background);
    --bs-btn-active-border-color: var(--primary-background);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-background);
    --bs-btn-disabled-border-color: var(--primary-background);
    border-width: 2px;
}

.btn-primary:hover {
    --bs-btn-color: #fff;
}

.fw-bolder {
    font-weight: 900 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.btn-outline-primary {
    --bs-btn-color: #FFF;
    --bs-btn-border-color: var(--primary-background);
    --bs-btn-hover-color: var(--dark-background);
    --bs-btn-hover-bg: var(--primary-background);
    --bs-btn-hover-border-color: var(--primary-background);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-background);
    --bs-btn-active-border-color: var(--primary-background);
    --bs-btn-active-shadow: none;
    background-color: var(--dark-background);
    color: #FFF;
    border-width: 2px;
}

/* Headings */
h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 32px;
}

/* header */
.headerBtn>.btn {
    padding: 16px 23px;
    margin-right: 2rem;
}

.colorScheme {
    background-color: var(--primary-background);
    padding: 5px;
}

.colorScheme .btn {
    height: 30px;
    line-height: 1;
    padding: 2px 12px;
}

.colorScheme .btn+.btn {
    margin-left: 5px;
}

.colorScheme .btn:hover,
.colorScheme .btn.active {
    background-color: var(--dark-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.colorScheme .btn:hover img,
.colorScheme .btn.active img {
    filter: invert();
}

/* Header Stikcy */
.mainHeader.fixed {
    position: sticky !important;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0 !important;
    backdrop-filter: blur(5px);
    z-index: 99;
    transition: all 0.5s;
}

/* hero section */
.heroBanner {
    background: url(../images/HeroSection.jpg) center top no-repeat;
    background-size: cover;
    padding-top: 160px;
}

/* Client Section */
.clientSection {
    box-shadow: 0 4px 20px rgba(166, 166, 166, 0.25);
    padding: 70px 0;
}

.clientSection img {
    transition: all 0.5s;
}

.clientSection img:hover {
    transition: all 0.5s;
    transform: scale(1.08);
}

.dark .clientSection {
    box-shadow: none;
}

.dark .clientSection p {
    color: #FFF;
}

.dark .clientSection img {
    filter: brightness(1.75);
}

/* Game Chnaging section */
.game-changingSection,
.benfitsSection {
    background: #F7F8F9;
    padding: 100px 0 120px;
}

.dark .game-changingSection,
.dark .benfitsSection {
    background: #1A1A1A;
}

.tabsGame ul.nav {
    border-bottom: 3px solid var(--gray500);
}

body.dark .tabsGame ul.nav {
    border-color: #2C2C2E;
}

.tabsGame ul.nav li .nav-link {
    color: var(--gray100);
    border: 0px;
    border-radius: 0;
    padding: 10px 15px;
    font-size: var(--bs-body-font-size);
    position: relative
}

.tabsGame ul.nav li .nav-link::after {
    height: 3px;
    width: 0px;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background: var(--primary-background);
    transition: all 0.5s;
}

.tabsGame ul.nav li .nav-link.active::after,
.tabsGame ul.nav li .nav-link:hover::after {
    width: 100%;
    transition: all 0.5s;
}

.tabsGame ul.nav li .nav-link.active {
    background: none;
    color: var(--primary-background);
    font-weight: bold;
}

#myTabContent .btn {
    padding: 16px 24px;
    color: var(--primary-background);
}

#myTabContent .btn:hover {
    background: var(--primary-background) !important;
    color: #FFF;
}

/* Demo Section */
.demoSection {
    padding: 170px 0;
}

/* Diffrence Section */
.diffrenceSection,
.industrySection {
    padding: 200px 0;
    background: var(--secondary-background);
}

/* Dark Mode */
body.dark .diffrenceSection {
    background: #172F0D;
}

.industrySection {
    background: #FFF;
}

/* Benfits */
.iconBox {
    box-shadow: 0px 4px 20px rgba(166, 166, 166, 0.25);
    min-height: 310px;
    transition: all 0.5s;
}

.iconBox:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.iconBox img {
    max-height: 48px;
    width: 48px;
}

/* Dark Mode */
.dark .benfitsSection .iconBox {
    box-shadow: none;
}

/* Price Section */
.priceSection {
    padding: 90px 0;
}

.priceBox {
    border: 4px solid var(--primary-background);
    background: #F7F8F9;
}

.priceBox ul {
    list-style-type: none;
    padding: 0;
}

.priceBox ul li {
    margin-bottom: 12px;
}

.priceBox ul li i {
    margin-right: 8px;
}

.priceBox ul li i.fa-circle-check {
    color: var(--primary-background);
}

.priceBox ul li i.fa-circle-xmark {
    color: var(--errorColor);
}

.priceBoxCard {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.priceBoxCard span {
    font-size: 16px;
    color: var(--gray100);
    margin-top: 5px;
}

.priceBox .badge {
    border: 1px solid var(--primary-background);
    color: var(--primary-background);
    background: rgba(111, 218, 68, 0.10);
}

/* Dark Price Box */
body.dark .priceSection,
body.dark .benfitsSection .iconBox,
body.dark .industrySection,
body.dark .demoSection,
body.dark .clientSection,
.dark .game-changingSection .tabsGame #myTabContent .tab-pane {
    background: #252525;
}

body.dark .priceSection h2,
body.dark .priceSection li,
body.dark .priceBox .priceBoxCard,
.dark .benfitsSection h2,
.dark .benfitsSection .iconBox h6,
body.dark .industrySection h3,
body.dark .diffrenceSection h3,
body.dark .demoSection h3,
.dark .game-changingSection h2 {
    color: #FFF !important;
}

body.dark .priceBox {
    background: #1A1A1A;
}

body.dark .priceBox .priceBoxCard span,
body.dark .priceBox .priceBoxCard p.text-gray,
body.dark .text-gray,
body.dark .priceSection li span,
body.dark .priceSection p,
.dark .benfitsSection p,
.dark .benfitsSection .iconBox p,
body.dark .industrySection p,
body.dark .diffrenceSection p,
body.dark .demoSection p,
.dark .game-changingSection p,
body.dark .tabsGame ul.nav li .nav-link {
    color: #C6C6C6 !important;
}

body.dark .industrySection .btn,
body.dark .diffrenceSection .btn,
.dark .benfitsSection .btn,
body.dark .priceBox .btn,
body.dark .demoSection .btn {
    color: #252525 !important;
}

body.dark .industrySection .btn:hover,
.dark .benfitsSection .btn:hover,
body.dark .priceBox .btn:hover,
body.dark .demoSection .btn:hover {
    color: #FFF !important;
}

/* Footer */
.mainFooter {
    border-top: 1px solid #E5E5EA;
    background: #F7F8F9;
    padding-top: 85px;
}

.mainFooter h6 {
    margin-bottom: 20px;
}

.mainFooter ul {
    list-style-type: none;
    padding: 0;
}

.mainFooter ul li {
    margin-bottom: 15px;
}

.mainFooter ul a {
    font-size: var(--bs-body-font-size);
    color: #5E5E63;
    text-decoration: none;
}

.mainFooter ul a:hover {
    color: var(--primary-background);
}

.socialIcons {
    padding-left: 40px;
}

.socialIcons a {
    font-size: 20px;
    color: var(--primary-background);
    margin-right: 20px;
}

.footerLinks a {
    color: var(--primary-background);
    margin-left: 40px;
    text-decoration: none;
}

.footerLinks a:hover,
.socialIcons a:hover {
    color: #000;
}

.copyrightarea .col-md-6 {
    border-top: 1px solid var(--gray500);
    padding-top: 40px;
    padding-bottom: 70px;
}

/* Footer Dark */
body.dark footer.mainFooter {
    background: var(--darkbg);
    border-color: var(--darkstroke);
}

body.dark footer.mainFooter ul a,
body.dark footer.mainFooter p {
    color: #C6C6C6;
}

body.dark footer.mainFooter h6 {
    color: #FFF !important;
}

body.dark footer.mainFooter .col-md-6 {
    border-color: #2C2C2E;
}

/* Mode Change IMage */
.darkImg {
    display: none;
}

body.dark .lightImg {
    display: none;
}

body.dark .darkImg {
    display: block;
}

/* HS Modal */
#hsModal {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#hsModal .modal-dialog {
    max-width: 600px;
}

#hsModal .modal-dialog .modal-content {
    border-radius: 25px;
    padding: 25px;
}

#hsModal .modal-dialog .modal-content .btn-close {
    position: absolute;
    right: 0px;
    top: 0;
    box-shadow: none;
}

#hsModal .modal-dialog .modal-content .modal-text h2 {
    font-weight: bold;
    color: var(--primary-background);
}